* { 
	margin: 0; 
	padding: 0px 5px ; 
}
#page-wrap {
	margin: 50px;
}
tbody td:nth-last-child(-n+12){text-align: right;}
tbody th:nth-last-child(-n+12){text-align: right;}
thead  th{
	text-align: center;
}
table caption{
	color:blue;
	font-weight:bold;
}
h5, h3 {text-align: center;}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
		font-size: small;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}